[Unit]
Description=udp2raw listening on %I
After=network-online.target

[Service]
ExecStart=/opt/udp2raw_{{ udp2raw_arch }} --conf-file /etc/udp2raw/%I.conf
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
